.CartoonInfo-Component-Wrapper {
  $imageWidth: 3rem;
  $imageHeight: 4rem;
  display: flex;
  box-sizing: border-box;
  padding: $normalInterval;
  .Cartoon-Image-Cover {
    width: $imageWidth;
    height: $imageHeight;
    border-radius: $normalRadius;
    overflow: hidden;
    .Cartoon-Image {
      width: 100%;
    }
  }
  .cartoon-info {
    flex: 1;
    margin-left: $normalInterval;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .cartoon-name {
      margin: 0;
      font-size: 0.47rem;
      .cartoon-status {
        font-size: 0.3rem;
        color: #a7a1a1;
        font-weight: 400;
      }
    }
    .cartoon-description {
      height: 0.8rem;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 0.4rem;
      font-size: 0.32rem;
      margin-top: $smallInterval;
    }
  }
}
