.NormalPage_Component_Wrapper {
  display: flex;
  width: 10rem;
  height: 100%;
  margin: auto;
  flex-direction: column;
  .NormalPage_Header_wrapper{
    height: $headerHeight;
  }
  .NormalPage_Content_wrapper{
    flex: 1;
    height: 100%;
    overflow: hidden;
  }
  .NormalPage_Footer_wrapper{
    height: 1.333333rem /* 100/75 */;
  }
}
