// 头部标题高度
$headerHeight: 1rem;
// 播放器高度
$playerHeight: 5.5rem;
// 元素间隔
$normalInterval: .266667rem /* 20/75 */;
// 小元素间隔
$smallInterval: .133333rem /* 10/75 */;
// 大元素间隔
$bigInterval: .4rem /* 30/75 */;
// 主题背景色
$themeBackgroundColor: #f5f5f5;
// 活动色
$activeColor: #1296db;
// 普通字体大小
$normalFontSize: .426667rem /* 32/75 */;