.User-Page-Wrapper {
  height: 100%;
  background: #fff;
  .gird-item {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center 0.4rem;
    background-size: 1rem;
    position: relative;
    &-edit {
      background-image: url("~@icons/edit-user-info.png");
    }
    &-history {
      background-image: url("~@icons/history-icon.png");
    }
    &-logOut {
      background-image: url("~@icons/exit-login.png");
    }
    .gird-text {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      line-height: 1.4rem;
      color: #999;
    }
  }
}
